@model List<Tarea>
<section class = "VerTareas">
<h2>Mis Tareas</h2>
<a href="@Url.Action("CrearTarea", "Home")">Nueva Tarea</a>
<a href="@Url.Action("CerrarSesion", "Account")" style="margin-left: 20px;">Cerrar Sesión</a>

<table>
    <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Finalizada</th>
        <th>Acciones</th>
    </tr>
@foreach(var tarea in Model)
{
    <tr>
        <td>@tarea.Titulo</td>
        <td>@tarea.Descripcion</td>
        <td>@tarea.Fecha.ToShortDateString()</td>
        <td>@(tarea.Finalizada ? "Sí" : "No")</td>
        <td>
            <a href="@Url.Action("ModificarTarea", "Home", new { id = tarea.Id })">Editar</a>
            <a href="@Url.Action("EliminarTarea", "Home", new { id = tarea.Id })">Eliminar</a>
            @if (!tarea.Finalizada)
            {
                <a href="@Url.Action("FinalizarTarea", "Home", new { id = tarea.Id })">Finalizar</a>
            }
        </td>
    </tr>
}
</table>
</section class>